<!--include header-->
<%- include('include/_header')%>
    <!--include header-->

    <!--main site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/index"><i class="fas fa-angle-double-left"></i> All Items</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Item</h2>
                <span class="text-light">Use the below form to update an item</span>
            </div>

            <!--update item form-->
            <form method="POST" id="update_item">
                <div class="new_item">
                    <div class="form-group">
                        <label for="name" class="text-light">Item Name</label>
                        <input type="hidden" name="id" value="<%= item._id%>">
                        <input type="text" name="name" value="<%= item.name%>" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label for="code" class="text-light">Unique Code</label>
                        <input type="text" name="code" value="<%= item.code%>" placeholder="X">
                    </div>

                    <div class="form-group">
                        <label for="Amount" class="text-light">Amount</label>
                        <input type="number" name="amount" value="<%= item.amount%>" placeholder=0>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update"> Save</button>
                    </div>

                </div>
            </form>

        </div>
    </main>
    <!--main site-->

    <!--include footer-->
    <%- include('include/_footer')%>
        <!--include footer-->